@model PojisteniApp.Models.PersonInsurance

@{
    ViewData["Title"] = "Create";
}

<h1>Pojištění</h1>

<h4>Vytvoř pojištění</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ValueOfInsurance" class="control-label"></label>
                <input asp-for="ValueOfInsurance" class="form-control" />
                <span asp-validation-for="ValueOfInsurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntrestOfInsurance" class="control-label"></label>
                <input asp-for="IntrestOfInsurance" class="form-control" />
                <span asp-validation-for="IntrestOfInsurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceStart" class="control-label"></label>
                <input asp-for="InsuranceStart" class="form-control" />
                <span asp-validation-for="InsuranceStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceEnd" class="control-label"></label>
                <input asp-for="InsuranceEnd" class="form-control" />
                <span asp-validation-for="InsuranceEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.SocialNumber" class="control-label"></label>
                <select asp-for="PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="buttonPojistenci" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

